<ion-view view-title="map-content" ng-controller="MapCtrl">
      <!--https://forum.ionicframework.com/t/scrolling-horizontally-and-vertically/1865/9-->
      <!--<ion-scroll-->
        <!--delegate-handle="mapa"-->
        <!--zooming="true"-->
        <!--direction="xy"-->
        <!--scrollbar-x="false"-->
        <!--scrollbar-y="false"-->
        <!--locking="false"-->
        <!--scroll="true"-->
        <!--style="position:fixed;display:inline;right:0;bottom:0;left:0;"-->
        <!--class="has-header"-->
        <!--overflow-scroll="false"-->
        <!--msd-wheel="onMouseWheel($event, $delta, $deltaX, $deltaY)">-->
        <!--<img src="img/mapas/campus.gif" width="3000">-->
      <!--</ion-scroll>-->
  <canvas id="canvas" width="1000" height="1000"></canvas>
  <img src="img/mapas/optimised.svg" id="img">
</ion-view>

