<ion-view view-title="search" ng-controller="SearchCtrl">
<ion-content>
<div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search" ng-model="searchtext">
  </label>
</div>
<ion-list>
  <a ng-repeat="result in results" class="item item-icon-left" ui-sref="roomfinder.map({code:result.code})">
    <i class="icon ion-ios-location"></i>
    {{result.code}}
  </a>
</ion-list>
</ion-content>
</ion-view>
