<ion-header-bar class="bar bar-header">
  <button class="button icon ion-navicon" menu-toggle="left"></button>
  <h1 class="title">Room Finder</h1>
</ion-header-bar>
<ion-content>
  <div ng-controller="SearchCtrl">
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="searchtext" ng-change="update(searchtext)">
      </label>
    </div>
    <ion-list>
      <a ng-repeat="result in results" class="item item-icon-left" ui-sref="map({code:result.name})">
        <i class="icon ion-ios-location"></i>
        {{result.name}}
      </a>
    </ion-list>
  </div>

</ion-content>
